@import '../components/colors';
@import '../components/button';

.hero {
  position: relative;
  z-index: 1;
  background: rgba(55, 56, 104, 0.12);

  &:after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    height: 100%;
    right: 0;
    bottom: 90px;
    left: 0;
    background: linear-gradient(180deg, #d63169 0%, #b2004e 100%);
    transform: skewY(-2.5deg);
    transform-origin: 100%;
  }
}

.features {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 3rem;
  padding-bottom: 0;

  @media (min-width: 650px) {
    margin-top: 0;
  }

  @media (min-width: 850px) {
    flex-direction: row;
  }
}

.feature {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);

  @media (min-width: 850px) {
    width: 50%;
  }
}

.feature--podcast {
  padding: 0 1rem 1rem 1rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  background: linear-gradient(180deg, #ab0949, #9a0741);

  @media (min-width: 850px) {
    margin: 0 2rem 0 0;
  }
}

.feature__title {
  padding: 1rem 0;
  color: white;
}

.newest-podcast {
  display: flex;
  flex-direction: column;

  * {
    color: white;
  }

  @media (min-width: 650px) {
    flex-direction: row;
  }
}

.newest-podcast__number {
  position: relative;
  top: -14px;
  margin-right: 1rem;
  font-size: 70px;
  font-weight: 900;
  color: #650026;
}

.newest-podcast__title-number {
  display: none;
}

@media (max-width: 650px) {
  .newest-podcast__title-number {
    display: inline;
  }

  .newest-podcast__number {
    display: none;
  }
}
.newest-podcast__title {
  margin-bottom: 0.5rem;
  font-size: 20px;
}

.newest-podcast__description {
  margin-bottom: 1rem;
}

.newest-vlog-entry {
  border-radius: 8px;
  overflow: hidden;

  @media (max-width: 850px) {
    width: 100%;
  }
}

.newest-vlog-entry__title {
  padding: 1rem;
  border-radius: 8px 8px 0 0;
  color: white !important;
  background: #373868;
}

.newest-vlog-entry__container {
  position: relative;
  padding-top: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/*
 * OLD EPISODES
 */

.old-episodes {
  background: rgba(55, 56, 104, 0.12);
}

.old-episode-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding-top: 1rem;

  @media (min-width: 600px) {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }

  @media (min-width: 850px) {
    margin-right: -2rem;
  }
}

.old-episode {
  margin-bottom: 1rem;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0px 5px 8px rgba(55, 56, 104, 0.05);

  @media (min-width: 600px) {
    margin-bottom: 2rem;
  }

  @media (min-width: 850px) {
    margin-right: 2rem;
  }

  * {
    color: $dark-blue;
  }
}

.old-episode__header {
  padding: 1.1rem 1.5rem;
  border-radius: 8px 8px 0 0;
  background-color: #373868;
  color: white;
}

.old-episode__content {
  display: flex;
  padding: 1.5rem;
}

.old-episode__number {
  position: relative;
  top: -6px;
  margin-right: 1rem;
  font-size: 40px;
  color: #c3c4d6;
}

.old-episode__title {
  margin-bottom: 0.5rem;
  font-size: 20px;
}

.filter-button {
  display: inline-block;
  margin-left: 0.5rem;
  padding: 0.3rem 0.5rem;
  border: 0;
  background: transparent;
  color: $pink;
  font-weight: bold;
  font-size: 1rem;

  &:hover,
  &--active {
    color: white;
    background: $pink;
    cursor: pointer;
  }
}
