.newest-episodes {
  margin-top: 2rem;
  padding: 2rem;
  display: flex;
}

.feature {
  width: 400px;
  margin: 1rem;
}

.feature h1 {
  font-size: 20px;
}
.newest-podcast__episode-number {
  font-size: 40px;
}

.old-episode-list {
  display: flex;
  flex-wrap: wrap;
}
.old-episode-list__item {
  width: 200px;
  margin: 1rem;
  padding: 1rem;
  background: #ccc;
}
