@import '../components/colors';

.features {
  display: flex;
  flex-direction: column;

  @media (min-width: 850px) {
    flex-direction: row;
  }
}

.feature {
  @media (min-width: 850px) {
    width: 50%;
  }
}

.newest-podcast {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  padding: 1rem;
  background: $pink;

  @media (min-width: 600px) {
    margin-bottom: 2rem;
  }

  @media (min-width: 850px) {
    margin-right: 2rem;
  }

  * {
    color: white;
  }
}

.newest-podcast__number {
  position: relative;
  top: -8px;
  margin-right: 1rem;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.6);
}

.newest-podcast__title {
  margin-bottom: 0.5rem;
  font-size: 20px;
}

.newest-podcast__description {
  margin-bottom: 1rem;
}

.newest-vlog-entry__container {
  position: relative;
  padding-top: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/*
 * OLD EPISODES
 */

.old-episode-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.old-episode {
  margin: 1rem 1rem 0 0;
  padding: 1rem;
  border: 1px solid $pink;
}
