@import 'colors';

.footer {
  background: $orange;
}

.footer__title {
  margin-bottom: 1rem;
  text-align: center;
}

.hosts {
  display: flex;
  list-style: none;
  padding: 1rem;
  margin: 0;
  justify-content: center;
}

.host {
  display: flex;

  &:first-of-type {
    margin-right: 2rem;
  }
}

.host img {
  width: 150px;
  flex-grow: 0;
  align-self: center;
}

.host-details {
  margin-left: 1rem;
}
