@import 'colors';

.footer {
  background: $pink;

  * {
    color: white;
  }
}

.footer__title {
  margin-bottom: 1rem;
  text-align: center;
}

.hosts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  list-style: none;

  @media (min-width: 600px) {
    flex-direction: row;
  }
}

.host {
  display: flex;
  flex-direction: column;
  text-align: center;

  &:first-of-type {
    margin-bottom: 2rem;
  }

  @media (min-width: 600px) {
    &:first-of-type {
      margin-right: 2rem;
    }
  }
}

.host img {
  width: 150px;
  flex-grow: 0;
  align-self: center;
  margin-bottom: 1rem;
}

.host-details {
  @media (min-width: 600px) {
    margin-left: 1rem;
  }
}
