@import 'colors';

.site-header {
  border-bottom: 1px solid $light-blue;
}

.site-header__content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  @media (min-width: 600px) {
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: 900px) {
    flex-direction: row;
  }
}

.brand-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;

  @media (min-width: 600px) {
    flex-direction: row;
  }

  @media (min-width: 900px) {
    margin-bottom: 0;
  }
}

.logo {
  display: block;
  width: 100px;
  height: auto;
  margin-bottom: 1rem;

  @media (min-width: 600px) {
    margin-right: 2rem;
    margin-bottom: 0rem;
  }
}

.title-container {
  text-align: center;

  @media (min-width: 600px) {
    text-align: initial;
  }

  h1 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1rem;
    font-weight: normal;
  }
}

.social {
  display: flex;
  justify-content: center;
  width: 100%;

  @media (min-width: 900px) {
    justify-content: flex-end;
  }

  a {
    display: inline-block;
    padding: 1rem;
    border: 1px solid $pink;
    background: #fff;

    &:first-of-type {
      margin-right: 1rem;
    }
  }
}
